aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
pyromod
openai
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
lyricsgenius
motor
wget
pillow==9.5.0
psutil
pytube
pykeyboard
unidecode
pyromod
py-tgcalls==1.2.9
ntgcalls==1.1.2
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
urllib3
uvloop
flask
numpy
gunicorn==20.1.0
